* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    padding: 0;
    margin: 0;
}



main {
    width: 900px;
    height: 500px;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 250px);
    box-shadow: 0 10px 6px -6px #8B795E;
   

}

.panel-left {
    width: calc(900px - 50%);
    height: 500px;
    background: white;
    border: 1px;
    float: left;
}

.panel-right {
    width: calc(900px - 50%);
    height: 500px;
    background: #3D2922;
    border: 1px;
    float: right;

}

body {
    background: #F8F3E8;
}

.area-1 {
    width: calc(900px - 50%);
    height: calc(500px - 66.7%);  
    border: 2px;
    padding:  0px 32px 32px 0px;

}

.area-2{
    width: calc(900px - 50%);
    height: calc(500px - 66.7%);  
    padding: 0px 32px 0px 32px;
}

.area-3 {
    width: calc(900px - 50%);
    height: calc(500px - 66.7%);  
    padding: 0px 32px 0px 32px;

}

.title {
    text-align: left;
    font-family: 'Cinzel Decorative';
    padding-top: 1em;
}

.subtitle {
    text-align: left;
    font-family: 'Slabo 27px';
    font-size: 18px;
    color: #6CA6CD;
}

.btn-saber-mais {  
    font-family: 'Slabo 27px';    
    background: white; 
    border-color: #3D2922;
    padding: 4px 12px 4px 8px;
    cursor: pointer;
}

.btn-saber-mais:hover {  
    color: white; 
    background: #3D2922;
}

/*COLUNA 1*/

.coluna-1  {
    width: calc(450px - 50%);
    height: 500px;
    float: left;
}

.coluna-1 .area-1 {
    width: calc(450px - 100%);
    height: calc(500px - 55%);
    background: #CDDDDD;
}


.coluna-1 .area-2 {
    width: calc(450px - 100%);
    height: calc(500px - 45%);
    background: #3D2922;
    box-sizing: border-box;

}

/*COLUNA 2*/
.coluna-2 {
    width: calc(450px - 50%);
    height: 500px;
    float: right;
}

.coluna-2 .area-1 {
    width: calc(450px - 100%);
    height: calc(500px - 45%);
    background: white;
}


.coluna-2 .area-2 {
    width: calc(450px - 100%);
    height: calc(500px - 55%);
    background: #EDD582;
    
    
}

.menu {   
    list-style-type: none;
    color: white;
    font-family: 'Slabo 27px';
    margin-top: 44px;
    display:  inline-block ;
    font-size: 18px;
    letter-spacing: 2px;
}

li {
    padding: 10px;
    text-align: center;
    margin-left: 4px;
    
}


a:link {    
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
}

.img-blue {
    max-width: 250px;
    max-height: 275px;
    padding: 6px;
    margin-left: -10px;    
}

.img-white {
    max-width: 200px;
    max-height: 275px;
    padding: 12px;
    margin-top: 44px;
    margin-left: 14px;
}

.img-yellow {    
    max-width: 170px;
    max-height: 275px;
    padding: 8px;
    margin-top: 24px;
}




